.coffee_search{
    margin-top: 60px;
    &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 700px;
        margin: 0 auto;
    }
    &__search{
        display: flex;
        flex-direction: row;
        align-items: center;
        input{
            width: 180px;
            background: #FFFFFF;
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            border-color: #fff;
            border-style: none;
            color: #00000080;
            text-align: center;
            padding: 6px 0 6px 0;
            margin-left: 19px;
        }
    }
    &__filter{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__group_btn{
        display: grid;
        grid-template-columns: repeat(3, 75px);
        column-gap: 5px;
        margin-left: 35px;
    }
    &__button{
        background: #FFFFFF;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 4px 0px 0px 4px;
        border-color: #fff;
        border-style: none;
        color: #00000080;
        text-align: center;
        padding: 7px 0 5px 0;
        transition: all 0.3s;
        &:hover{
            cursor: pointer;
            transform: scale(1.10);
        }
    }
    &__cards{
        margin-top: 61px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(3,220px);
        column-gap: 71px;
        row-gap: 60px;
        grid-auto-rows: 260px;
        justify-content: center;
    }
}