.coffee_pleasure{
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(3,220px);
        grid-auto-rows: 260px;
        column-gap: 71px;
        row-gap: 60px;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 80px;
    }
}