.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 360px;
    position: fixed;
    align-items: center;
    top:30px;
    left: 149px;

    &__item{
        color: white;
    }
    &__text_icon{
        display: flex;
        flex-direction: row;
         align-items:center;
    }
}