.footer{
    padding: 30px 0 20px 0;
    &__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 360px;
        align-items: center;
        margin: 0 auto;
    }
    &__item{
        color: #000;
    }
    &__text_icon{
        display: flex;
        flex-direction: row;
        align-items: center;
        div{
            margin-left: 5px;
        }
    }
}